body {
  font-family: arial, helvetica, sans-serif;
  font-size: 100%;
}

*:focus {
  outline: none
}

a, button {
  cursor: pointer;
}

ul, li {
  list-style-type: none;
  margin: 0;
  padding: 0; 
}

h1 {
  font-size: 14pt;
  padding-bottom: 10px;
}

.not-yet {
  color: #aaa;
  text-style: italic;
}

#content {
  width: 400px;
  min-height: 200px
}

.city-btn {
  background: #eee;
  padding: 5px 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  border-radius: 3px;
  display: inline-block;
}

.city-btn a {
  text-decoration: none;
  color: #333;
}

.city-btn:hover {
  background: #e5e5e5;
}

.city-btn button {
  border: 0;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA20lEQVQ4T6XTzUlDQRiF4ScFRFuQNBH/9sYCdKFbwQ7EBsQaxL2iFajrqG2ILWgBcuBGxnFySbjfboY57/d3ZmRgjAbqlYAJrnGGryXgTdziAh95UwIecIx3HDQgG3jBFHc4rQFjPGOnASnFcxziuwbk3IKkyoC38UfcArQguUtV/8TLADUk56a4D5Cen7rMawMiLnsOYH/VFmpxpp1INXt47Tbw65PSBzFJMmfPdc/ZTiC7eMNs4ZMS8IijnoGVkHuc1EPcwhXOFyZp2DmQG1zis28LK/+xwb/xB7+MNhGmE2N6AAAAAElFTkSuQmCC) no-repeat center center;
  width: 16px;
  height: 16px;
  background-size: 12px 12px;
  margin-left: 10px;
}